body {
  background-color: #444444;
  color: #ffff99;
}

.container {
  padding: 40px;
}

input.form-control {
  max-width: 80vw;
  padding: 5px;
}

h5.confirmed {
  color: #5cb85c;
}

.btn {
  margin-top: 5px;
  margin-bottom: 5px;
}
